@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
p {
    font-size: 0.8rem;
}
.header {
    background: #ffffff0a;
}

.header-svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
}
